@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: #2074ec;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #2074ec;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
.wrapper .menu-btn i{
  position: absolute;
  transform: ;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  position: fixed;
  background: #2074ec;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #2074ec;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #2074ec;
}
#sidebar .list-items{
  position: relative;
  background: #2074ec;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #2074ec;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #2074ec;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #2074ec;
  border-radius: 5px;
  border: 1px solid #2074ec;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #2074ec;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #2074ec;
  z-index: -1;
  width: 100%;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 700;
}
.content p{
  font-size: 40px;
  font-weight: 700;
}
.title {
  text-align: center;
  color: #313333;
  padding-top: 100px;
  font-weight: bolder;
}
.subtitle {
  text-align: center;
  color: #313333;
  padding-bottom: 20px;
}
.paragraph {
  text-align: center;
  color: #313333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paragraph-1 {
  font-family: "Roboto";
  text-align: center;
  color: #ffff;
  font-weight: bolder;
}

.title-1 {
  text-align: center;
  color: #ffff;
  padding-top: 100px;
  font-weight: bolder;
}

.center {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.buttons{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background:#2074ec;
  color: #ffff; 
  border: 2px solid #2074ec;
  font-size: 20px;
  padding: 20px 50px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 10px 15px;
  border-radius: 17px;
}

.button-2 {
  background: #2074ec;
  color: #ffff;
  border: 2px solid #2074ec;
  font-size: 20px;
  padding: 25px 80px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  border-radius: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);body {
  font-family: "Roboto", sans-serif;
  background: #f9f9f9;
}

.primary-color {
  color: #FF9232;
}

.section-100 {
  padding: 100px 0;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.btn.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary {
  background-color: #FF9232;
  border-color: #FF9232;
}

.btn-primary:hover {
  background-color: #ff8419;
  border-color: #ff8419;
}

.blog-card {
  background: #fff;
  -webkit-box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}

.blog-card .blog-thumbnail {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card .blog-container {
  padding: 15px;
}
.button-2 {
  background: transparent;
  color: #FD7B7B;
  border: 2px solid #FD7B7B;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 25px 80px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  border-radius: 20px;
}
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2074ec;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #2074ec;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: E7BBBB;
  color: white;
}


/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Documentation page */
.dropbutton {
  background-color: #ffff;
  border: none;
  color: #313333;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
}

.dropbutton:hover, .dropbutton:focus {
  background-color: #;
}

.dropdownmenu {
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  display: inline-block;
  outline: none; 
  border-radius: 20px;
}

.dropdownmenu-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px #fff(0,0,0,0.3);
}

.dropdownmenu-content-1 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px #fff(0,0,0,0.3);
}

.dropdownmenu-content-2 {
  padding-top: 80px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px #fff(0,0,0,0.3);
}

.dropdownmenu-content a {
  color: #313333;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

.dropdownmenu a:hover {
  background-color: #f2f2f2
}

.show {
  display:block;
}

//home page cards
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Roboto";
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em rgba(255,255,255,0.5);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid rgba(255,255,255,0.5);
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  width: 250%;
  height: 250%;
}

.card:after {
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #F5F6FA;
}

body {
  padding: 1rem 0.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway',Sans-serif;
}

.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

