/* ! Base style */
body{font-family: 'Inter', sans-serif;font-style: 16px;}

a{text-decoration: none;}

h1,h2,h3,h4,h5, p{color:#000; padding-bottom: 30px;}

p{line-height: 20px; color:#666 font-weight: 300;}

.big-text{font-size: 70px;font-weight: 900px;}
.med-text{font-style: 40px;}
.normal.text{font-style: 20px;}
.small.text{font-style: 14px;}

.intro-text{text-transform: uppercase;font-style: 20px;font-weight: bold;}

.button{padding: 18px 28px; background: #0071e3; color:#fff; display: inline-block;border-radius: 4px;}

@media (max-width: 768px) {

 .big-text{font-size: 40px}

}

/* !Helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}

/* ! Header */


.header{
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1350px;
}

.logo{
  z-index: 1;
  margin: 0 auto;
  width: 50px;
  text-align:center;
  float:left;

}

.menu{
  width: 100%;
  z-index:0
}



.menu li{display: inline-block;}
.menu li a{color: #fff; padding: 15px; display:block }

.cta{}

  .hamburger{display: none;}

@media (max-width: 768px) {

  .cta{display: none;
  }

  .menu{position: absolute; top:0; right:-100%;background: red;height: 100vh;padding-top: 80px; }
  .menu li{display: block;}
  .menu li a {padding: 15px 30px;font-size: 20px;}
  .menu--open{right:0%}

  .hamburge{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
  }
  .hamburge span{background: #ffffff;height: 3px;width: 100%; display: block;margin-bottom: 5px;}

}

/* ! Hero */

.hero{
  position: relative;
  height: 100vh;
  display: flex; width: 100%;align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.8), rgba(0,0,0,0.3)),
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}


.hero__content{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  z-index: 9;
  position: relative;
}

.hero__content h1,
.hero__content p{color: #fff}


/* ! video background */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
}

/* ! poster */

.poster{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.poster__img{width: 60%;height: 90%;}
.poster__img img{object-fit: cover; width: 80%;height:80%;}
.poster__content{width: 35%;padding: 50px;}

@media (max-width: 768px){
  .poster{flex-wrap: wrap;height: auto;}
  .poster__img,
  .poster__content{width: 100px;}

}
