/* ! Base style */
body{font-family: 'Inter', sans-serif;font-style: 16px;}

a{text-decoration: none;}

h1,h2,h3,h4,h5, p{color:#fff; padding-bottom: 30px;}

.big-text{font-size: 70px;font-weight: 900px;}
.med-text{font-style: 40px;}
.normal.text{font-style: 20px;}
.small.text{font-style: 14px;}

.intro-text{text-transform: uppercase;font-style: 20px;font-weight: bold;}

.button{padding: 18px 28px; background: #0071e3; color:#fff; display: inline-block;border-radius: 4px;}
/* ! Header */


.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1350px;
}

.logo{}

.menu{
  width: 100%;
}



.menu li{display: inline-block;}
.menu li a{color: #fff; padding: 15px; display:block }

.cat{}

/* ! Hero */

.hero{
  height: 600px;
  display: flex; width: 100%;align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.8), rgba(0,0,0,0.3)),
  url('bg-video.png') no-repeat center center;
  background-size: cover;
}


.hero__content{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
}
.hero__content h1,
.hero__content p{color: #fff},
