#nav bar 
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
header {
  width: 100%;
  height: 100vh;
  background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.paragraph {
  font-family: 'Roboto', sans-serif;  
  padding-left: 200px;
  text-align: left;
  color: #fff;
  font-weight: bolder;
}
.title {
  font-family: 'Roboto', sans-serif;  
  padding-left: 200px;
  text-align: left;
  color: #fff;
  padding-top: 100px;
  font-weight: bolder;
}
.button {
  padding-left: 200px;
  background:#fff;
  color: #000000; 
  border: 2px solid #fff;
  font-family: 'Roboto', sans-serif;  
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 15px;
  border-radius: 17px;
}
.button-2 {
  padding-left: 200px;
  background:#fff;
  color: #000000; 
  border: 2px solid #fff;
  font-family: 'Roboto', sans-serif;  
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 15px;
  border-radius: 17px;
}

.laptop-image {
  float:right;
  padding-right: 100px;
  padding-bottom: 10px;
}


.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;  
  color: #fff;
  font-size: 20px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }
  

}
